@import "tailwindcss";

@layer base {
  :root {
    /* === LIGHT MODE === */
    --color-background: #f1f5f9;
    --bg-card: #ffffff;
    --bg-nav: #ffffff;

    --text-main: #1f1d2b;
    --text-muted: #92929d;

    --line-color: #eaeaea;

    --accent: #2ca8b0;
    --accent-green: #22b07d;
    --accent-orange: #ff8700;
    --accent-red: #fb4141;
  }

  .dark {
    /* === DARK MODE === */
    --color-background: #1f1d2b;
    --bg-card: #252836;
    --bg-nav: #171725;

    --text-main: #ebebef;
    --text-muted: #92929d;

    --line-color: #696974;

    --accent: #12cdd9;
  }
}

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--color-background);
  --color-dark-background: #1f1d2b;
  --color-card: var(--bg-card);
  --color-soft: var(--bg-card);
  --color-navbar: var(--bg-nav);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);

  --color-line: var(--line-color);

  --color-accent: var(--accent);
  --color-green: var(--accent-green);
  --color-orange: var(--accent-orange);
  --color-red: var(--accent-red);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
